.status-display {
  text-align: center;
  margin-bottom: 20px;
}

.status-text {
  color: white;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton {
  color: white;
  border: none;
  width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  background-color: red;
  text-align: center;
}

.loginButton:hover {
  background-color: #d21e1e;
}

.loginButton:active {
  background-color: #9a3c3c;
  transform: scale(0.94);
}
