.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333; /* 배경색을 어두운 색으로 변경 */
  font-size: 17px;
  font-weight: bold;
  color: rgb(114, 227, 114); /* 글씨 색상을 흰색으로 변경 */
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
  text-align: center; /* 텍스트 중앙 정렬 */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
