.idCheck {
    position: absolute;
    top: 65px;
    right: 60px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.idCheck-box {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.id-input {
    border: 1px solid white;
    color: white;
    font-size: 15px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.login-button {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: red;
}

.login-button:hover {
    background-color: #d21e1e;
}

.login-button:active {
    background-color: #9a3c3c;
    transform: scale(0.94);
}