.header-text {
    position: absolute;
    top: 60px;
    left: 60px;
    font-size: 32px;
    color: #00FF00;
    font-weight: bold;
}

.container {
    position: relative;
}

.idCheck {
    position: absolute;
    top: 65px;
    right: 60px;
    font-size: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.idCheck-box {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.id-input {
    border: 1px solid white;
    color: white;
    font-size: 15px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 5px;
}

.id {
    font-size: 15px;
    margin: 0 30px;
    align-items: center;
}

.login-button {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    background-color: #983030;
}

.login-button:hover {
    background-color: #b86b6b;
}

.login-button:active {
    background-color: #FFD2D2;
    transform: scale(0.94);
}

.allergy-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap:30px;
}

.allergy-row {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.allergy-button {
    color: white;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    background-color: #7c66bd;
    width: 200px;
    height: 130px;
    line-height: 125px;
    margin: 10px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.allergy-button:hover {
    background-color: #6A1B9A;
}

.allergy-button:active {
    background-color: #c9536e;
    transform: scale(0.94);
}

.allergy-button.selected {
    background-color: red;
}

.initial-button-container {
    position: absolute;
    bottom: 40px;
    left: 60px;
    text-align: center;
}

.initial-button {
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #B0B0B0;
    width: 180px;
    height: 45px;
    line-height: 45px;
    border-radius: 31px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.initial-button:hover {
    background-color: #A0A0A0;
}

.initial-button:active {
    background-color: #909090;
    transform: scale(0.94);
}

.selectCompletion-button-container {
    position: absolute;
    bottom: 40px;
    right: 60px;
    text-align: center;
}

.selectCompletion-button {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    background-color: #4CAF50;
    width: 180px;
    height: 45px;
    line-height: 45px;
    border-radius: 31px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
}

.selectCompletion-button:hover {
    background-color: #388E3C;
}

.selectCompletion-button:active {
    background-color: #2E7D32;
    transform: scale(0.94);
}